kind: Cluster
apiVersion: {{ kind_apiVersion }}
name: {{ kind_cluster_name }}
nodes:
# The standard control plane
- role: control-plane
  image: {{ kind_node_image }}
  extraPortMappings:
  # Grafana
  - containerPort: {{ grafana_nodePort }}
    hostPort: {{ grafana_nodePort }}
    listenAddress: "0.0.0.0"
    protocol: TCP
  # Prometheus
  - containerPort: {{ prometheus_nodePort }}
    hostPort: {{ prometheus_nodePort }}
    listenAddress: "0.0.0.0"
    protocol: TCP
  # Prometheus 2
  - containerPort: 30842
    hostPort: 30842
    listenAddress: "0.0.0.0"
    protocol: TCP
  # Spark UI
  - containerPort: {{ spark_ui_port }}
    hostPort: {{ spark_ui_port }}
    listenAddress: "0.0.0.0"
    protocol: TCP
  # MinIO
  - containerPort: {{ minio_nodePort }}
    hostPort: {{ minio_nodePort }}
    listenAddress: "0.0.0.0"
    protocol: TCP
  # MinIO Tenant
  - containerPort: {{ tenant_nodePort }}
    hostPort: {{ tenant_nodePort }}
    listenAddress: "0.0.0.0"
    protocol: TCP
  # MinIO API
  - containerPort: {{ client_api_nodePort }}
    hostPort: {{ client_api_nodePort }}
    listenAddress: "0.0.0.0"
    protocol: TCP
# Number of Workers
{% for w_inst in range(worker_nodes) -%}
- role: worker
  image: {{ kind_node_image }}
{% endfor %}